<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
  </head>
  <body>
    <script src="bundle.js"></script>
    <a href="/logout">Log Out</a>
    <form action="/recipe" method="post">
      <input type="text" name="title">title</input><br>
      <input type="text" name="description">description</input><br>
      <button type="submit">submit</button>
    </form>
  </body>
</html>