<!DOCTYPE html>
<html>
  <head>
    <title>Gym Recipe</title>
  </head>
  <body>
    <script src="bundle.js"></script>
    <% if (message.length > 0) { %>
      <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/signup" method="post">
      <input type="text" name="email">
      <br>
      <input type="text" name="password">
      <button type="submit">submit please</button>
    </form>
  </body>
</html>








